@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600');
@import url('https://fonts.googleapis.com/css2?family=Amita&family=Neonderthaw&family=Petemoss&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginBg {
  overflow: hidden;
  position: relative;
  min-height: 800px;
  position: relative;
  background-image: url('./Pages/images/camino_bg_purple.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-wrapper {
  /* padding-left: 470px; */
  padding-top: 300px;
  justify-content: center;
  display: flex;
}

.loginTitile {
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  padding-bottom: 60px;
}
/* .App {
  
  background-image: url("./Pages/images/Camino_Colour_Palette6.png");
} */

/* NavBar */
/* 
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(100, 152, 195);
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.navbar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 15px 0 0;
} */

/* End of Navbar */

/* Login Form */
.form {
  /* position:static; */
  /* border-radius: 3%;
  width: 100%;
  min-width: 320px;
  max-width: 475px; 
  background: #fff;
  position: center; 
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-align: center; */
  border-radius: 2rem;
  width: 50%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  background: rgba(80, 63, 63, 0.4);
  padding: 10px 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

input {
  max-width: 50%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  display: block;
  background-color: rgb(226, 224, 220);
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding-bottom: 1.25em;
  text-align: left;
  font-size: 20px;
}
.footer-input {
  width: 100%;
  margin-right: 100px;
}

/* display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #000000;
  text-align: left;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(226, 224, 220); */
/* } */

.button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  /* margin-left: 35%; */
  font-size: 25px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  align-items: left;
}
form{
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-style:italic;
  font-weight: bold;
}
.loginTitile{
  color: rgb(0, 0, 0);
}
/* padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3%;
  display: inline-block;
  background: rgb(0, 89, 255);
  border: 1px solid darken(blue, 5%);
  padding: 0.5em 2em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px; } */

/* End of Login Form */

/* Home Page */
/* 
.home {
  text-align: center;
}  */

/* End Of Home Page */

/* Footer */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(100, 152, 195);
  text-align: center;
}  */

/* End Of Footer */
